<div class="col-md-9 col-md-offset-3 main">
   <h4 class="instruction_login">Didn't recieve an email confirmation after creating a new user? We'll send it again.</h4>

  <div class="row">
    <div class="col-sm-8 col-md-8">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.email_field :email,
                          autofocus: true,
                          class: 'form-control',
                          placeholder: 'Email'%>
      </div>
      <div class="form-group">
          <button class="btn btn-primary" type="submit">
            Resend confirmation instructions
          </button>
      </div>

      <% end %>
    </div>

    <br>
  </div>
    <%= render "devise/shared/links" %>
</div>
