<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="page-header">
    <span class="glyphicon glyphicon-cog h3"></span>
    Scripts
  </h2>

  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#special" role="tab" data-toggle="tab">Special Scripts</a>
      </li>
      <li role="presentation">
        <a href="#tests" role="tab" data-toggle="tab">Test Scripts</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <%= render partial: "special_scripts" %>
      <%= render partial: "test_scripts" %>
    </div>
  </div>
</div>