<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div id="new-user-form-container">
    <div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>
  </div>

  <div id="edit-user-form-container">
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>
  </div>

  <h1 class="page-header">
    <div class="pull-right">
      <%= button_to new_user_path, class: 'btn btn-large btn-primary', method: "get", remote: true do %>
        <span class="glyphicon glyphicon-plus"></span> New
      <% end %>
    </div>
    <span class="glyphicon glyphicon-cog"></span>
    Users
  </h1>

  <div class="row">
    <table class="table" id="users-table">
      <thead>
        <th>Status</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <%= render partial: "user", locals: {user: user} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>