<div class="col-sm-3 col-md-2 sidebar">
  <% if current_user  %>
    <ul class="nav nav-sidebar">
      <li>
        <%= link_to patients_path do %>
          <span class="glyphicon glyphicon-user"></span> Patients
        <% end %>
      </li>
      <li>
        <%= link_to root_path do %>
          <span class="glyphicon glyphicon-dashboard"></span> Dashboard
        <% end %>
      </li>
      <% if current_user.admin? %>
        <li>
          <%= link_to users_path do %>
            <span class="glyphicon glyphicon-cog"></span> Users
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
