<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <%# <li> %>
    <%#   <%= link_to patients_path do %1> %>
    <%#     <span class="glyphicon glyphicon-user"></span> Patients %>
    <%#   <% end %1> %>
    <%# </li> %>
    <li>
      <%= link_to root_path do %>
        <span class="glyphicon glyphicon-dashboard"></span> Dashboard
      <% end %>
    </li>
    <%# <% if current_user.admin? %1> %>
    <%#   <li> %>
    <%#     <%= link_to users_path do %1> %>
    <%#       <span class="glyphicon glyphicon-cog"></span> Users %>
    <%#     <% end %1> %>
    <%#   </li> %>
    <%# <% end %1> %>
  </ul>
</div>
