<div class="col-md-9 col-md-offset-3 main">
  <!--<h1 class="page-header">
    <span class="glyphicon glyphicon-user"></span>
    Results
  </h1>-->
  <h4 class="instruction_login">Please enter the username and password from your card.</h4>

  <div class="row">
    <div class="col-sm-8 col-md-8">
      <% if flash[:alert].present?  %>
        <p class="alert alert-warning"><%= alert %></p>
      <% end %>

      <form accept-charset="UTF-8" action="/results" class="ng-pristine ng-valid" method="post" autocomplete="off">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text"
              value="<%= @username %>"
              class="form-control"
              name="username"
              placeholder="Enter username"
              autocomplete="off">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="text"
              value="<%= @password %>"
              class="form-control"
              name="password"
              placeholder="Enter password"
              autocomplete="off">
        </div>

        <center><button type="submit" class="btn btn-primary">Get my results</button></center>
      </form>

    </div>
  </div>
</div>