/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active:hover a,
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #4496b5;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.main .page-header {
  margin-top: 0;
}

.user .actions * {
  display: inline;
}

.message {
  white-space: pre-line;
  word-break: normal;
}

a:visited, a:link {
  color: #4496b5;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

 a:active {
  color: black;
  text-decoration: none;
}

span.glyphicon-sm {
    font-size: .8em;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #4496b5;
  *background-color: #4496b5;
  background-image: -moz-linear-gradient(top, #6cbad8, #4496b5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6cbad8), to(#4496b5));
  background-image: -webkit-linear-gradient(top, #6cbad8, #4496b5);
  background-image: -o-linear-gradient(top, #6cbad8, #4496b5);
  background-image: linear-gradient(to bottom, #6cbad8, #4496b5);
  background-repeat: repeat-x;
  border-color: #4496b5 #4496b5 #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6cbad8', endColorstr='#ff4496b5', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #4496b5;
  *background-color: #4496b5;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #4496b5 \9;
}

.form-inline .patient-search-form {
  width: 300px;
}

.visit {
    border-top: 2px solid lightgrey;
    padding-top: 2em;
    margin-bottom: 2em;
}

/*
 * Login pages
 */
.instruction_login {
  padding-top: 30px;
  padding-bottom: 30px;
}

.language-selection label {
  margin-right: 10px;-
}

.language-selection label input {
  margin-right: 3px;
}
