<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">
    <span class="glyphicon glyphicon-user"></span>
    Patients
  </h1>

  <div class="row">
    <div class="col-sm-8 col-md-8">
      <form accept-charset="UTF-8" action="/patients" class="new_patient_search ng-pristine ng-valid" id="new_patient_search" method="get">
        <div class="input-group">
          <input aria-required="true"
            autofocus="autofocus"
            class="form-control input-lg"
            name="patient_number"
            placeholder="Patient ID"
            required="required"
            type="search">

          <span class="input-group-btn">
            <button class="btn btn-lg" type="submit">
              <span class="glyphicon glyphicon-search"></span>
              Search
            </button>
          </span>

        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-md-8">
      <% if @visits.nil? %>
        <br>
        <h4>Export Data</h4>
        <div class="row">
          <div class="col-sm-9 col-md-9">
            <div class="input-daterange input-group" id="datepicker">
              <input type="text" class="form-control" name="start"/>
              <span class="input-group-addon">to</span>
              <input type="text" class="form-control" name="end" />
            </div>
          </div>
          <div class="col-sm-3 col-md-3">
            <button id="downloadCSV" type="submit" class="btn btn-primary">Download CSV</button>
          </div>
        </div>
      <% elsif @visits.length == 0 %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign"></span>
          Patient
          <strong><%= @patient_number %></strong>
          not found
        </div>
      <% else %>
        <%= render partial: '/patient', locals: { visits: @visits } %>
        <hr />
      <% end %>
    </div>
  </div>
</div>
