<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">
    <div class="pull-right">
      <%= link_to new_user_path, class: 'btn btn-large btn-primary' do %>
        <span class="glyphicon glyphicon-plus"></span> New
      <% end %>
    </div>
    <span class="glyphicon glyphicon-cog"></span>
    Users
  </h1>

  <div class="row">
    <table class="table users">
      <thead>
        <th>Status</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class="user">
            <td class="activation-status">
              <% if user.active? %>
                <span class="label label-info">Active</span>
              <% else %>
                <span class="label label-warning">Inactive</span>
              <% end %>
            </td>
            <td class="email"><%= link_to user.email, user_path(user) %></td>
            <td class="roles"><%= user.role %></td>
            <td class="actions">
              <div class="btn-group">
                <% if user.active? %>
                  <a class="btn btn-default btn-sm" href="#">
                    <span class="glyphicon glyphicon-remove">Deactivate</span>
                  </a>
                <% else %>
                  <a class="btn btn-default btn-sm" href="#">
                    <span class="glyphicon glyphicon-ok">Activate</span>
                  </a>
                <% end %>
                <a href="#" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-envelope"></span> Reset Password
                </a>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>